In [143]:
### 1. Write a program to reverse a string.
s = "1,2,3,4,5"
s[::-1]

'5,4,3,2,1'

In [144]:
### 2. Check if a string is a palindrome.
s1 ="madam"
reverse_s1 = s1[::-1]
if s1 == reverse_s1:
    print("s1 is a palindrome.")
else:
    print("s1 is not a palindrome.")

s1 is a palindrome.

In [145]:
### 3. Convert a string to uppercase.
s2 = "mary"
s2.upper()

'MARY'

In [146]:
### 4. Convert a string to lowercase.
s3 = "MARY"
s3.lower()

'mary'

In [147]:
### 5. Count the number of vowels in a string.
s4 = "My name is Mary Jena."

vowels = "aeiouAEIOU"

vowel_count = 0

for char in s4:
    if char in vowels:
        vowel_count += 1
print(vowel_count)

6

In [148]:
### 6. Count the number of consonants in a string.
s5 = "I am Learning Full Stack Data Science."

### declaring set of vowels and alphabets
vowel = "aeiouAEIOU"
alphabet = "abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ"

consonant_count = 0

for char in s5:
    if char in alphabet and char not in vowel:
        consonant_count += 1
print(consonant_count)

19

In [149]:
### 7. Remove all whitespaces from a string.
s6 = "M A R Y J E N A"
remove_whitespaces = s6.replace(" ","")

print(remove_whitespaces)

MARYJENA

In [150]:
### 8. Find the length of a string without using the `len()` function.

s7 = "I am Learning Full Stack Data Science at pwskills."

length = 0

for char in s7:
    length += 1

print(length)

50

In [151]:
### 9. Check if a string contains a specific word.
s8 = "I am Learning Full Stack Data Science at pwskills."

s8.find('Learning')

5

In [152]:
#### 10. Replace a word in a string with another word.

# Original string
text = "I love apples"

# Replace 'apples' with 'bananas'
new_text = text.replace("apples", "kiwi")

print(new_text)

I love kiwi

In [153]:
#### 11. Count the occurrences of a word in a string.

# Original string
text = "One apple a day keeps the doctor away. Apples are great."

# Count the occurrences of the word 'apples'
count = text.lower().count("apple")

print(count)

2

In [154]:
#### 12. Find the first occurrence of a word in a string.

# Original string
text = "I love apples. Apples are great. I eat apples every day."

# Find the first occurrence of the word 'apples'
position = text.lower().find("apples")

print(position)

7

In [155]:
#### 13. Find the last occurrence of a word in a string.

# Original string
text = "I love apples. Apples are great. I eat apples every day."

# Find the last occurrence of the word 'apples'
position = text.lower().rfind("apples")

print(position)

39

In [156]:
#### 14. Split a string into a list of words.

# Original string
text = "I love apples. Apples are great."

# Split the string into a list of words
words = text.split()

print(words)

['I', 'love', 'apples.', 'Apples', 'are', 'great.']

In [157]:
#### 15. Join a list of words into a string.

# List of words
words = ['I', 'love', 'apples.', 'Apples', 'are', 'great.']

# Join the list into a string
sentence = ' '.join(words)

print(sentence)

I love apples. Apples are great.

In [158]:
#### 16. Convert a string where words are separated by spaces to one where words are separated by underscores.

# Original string
text = "I love apples. Apples are great."

# Replace spaces with underscores
new_text = text.replace(" ", "_")

print(new_text)

I_love_apples._Apples_are_great.

In [159]:
#### 17. Check if a string starts with a specific word or phrase.

# Original string
text = "I love apples. Apples are great."

# Check if the string starts with 'I love'
result = text.startswith("I love")

print(result)

True

In [160]:
#### 18. Check if a string ends with a specific word or phrase.

# Original string
text = "I love apples. Apples are great."

# Check if the string ends with 'are great.'
result = text.endswith("are great.")

print(result)

True

In [161]:
#### 19. Convert a string to title case (e.g., "hello world" to "Hello World").

# Original string
text = "hello world"

# Convert to title case
title_case_text = text.title()

print(title_case_text)

Hello World

In [162]:
#### 20. Find the longest word in a string.

# Original string
text = "I love programming with Python. It is very interesting."

# Split the string into words
words = text.split()

# Find the longest word
longest_word = max(words, key=len)

print(longest_word)

interesting.

In [163]:
#### 21. Find the shortest word in a string.

# Original string
text = "I love programming with Python. It is very interesting."

# Split the string into words
words = text.split()

# Find the shortest word
shortest_word = min(words, key=len)

print(shortest_word)

I

In [164]:
#### 22. Reverse the order of words in a string.

# Original string
text = "I love programming with Python."

# Split the string into words
words = text.split()

# Reverse the order of words
reversed_words = words[::-1]

# Join the reversed list into a string
reversed_text = ' '.join(reversed_words)

print(reversed_text)

Python. with programming love I

In [165]:
#### 23. Check if a string is alphanumeric.

# Original strings
text1 = "Hello123"
text2 = "Hello 123"
text3 = "Hello@123"

# Check if the strings are alphanumeric
is_alphanumeric1 = text1.isalnum()
is_alphanumeric2 = text2.isalnum()
is_alphanumeric3 = text3.isalnum()

print(is_alphanumeric1)  # True
print(is_alphanumeric2)  # False
print(is_alphanumeric3)  # False

True
False
False

In [166]:
#### 24. Extract all digits from a string.

# Original string
text = "The price is 123 dollars and 45 cents."

# Extract all digits
digits = ''.join([char for char in text if char.isdigit()])

print(digits)

12345

In [167]:
#### 25. Extract all alphabets from a string.

# Original string
text = "Hello 123! Let's extract alphabets."

# Extract all alphabets
alphabets = ''.join([char for char in text if char.isalpha()])

print(alphabets)

HelloLetsextractalphabets

In [168]:
#### 26. Count the number of uppercase letters in a string.

# Original string
text = "Hello World! Welcome to Python Programming."

# Count the number of uppercase letters
uppercase_count = len([char for char in text if char.isupper()])

print(uppercase_count)

5

In [169]:
#### 27. Count the number of lowercase letters in a string.

# Original string
text = "Hello World! Welcome to Python Programming."

# Count the number of lowercase letters
lowercase_count = len([char for char in text if char.islower()])

print(lowercase_count)

31

In [170]:
#### 28. Swap the case of each character in a string.

# Original string
text = "Hello World! Python Programming."

# Swap the case of each character
swapped_text = text.swapcase()

print(swapped_text)

hELLO wORLD! pYTHON pROGRAMMING.

In [171]:
#### 29. Remove a specific word from a string.

# Original string
text = "I love programming with Python. Python is amazing."

# Word to remove
word_to_remove = "Python"

# Remove the word
new_text = text.replace(word_to_remove, "").replace("  ", " ").strip()

print(new_text)

I love programming with . is amazing.

In [172]:
#### 30. Check if a string is a valid email address.

import re

# Function to check if an email is valid
def is_valid_email(email):
    # Simple pattern to check if the email looks correct
    pattern = r'^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$'
    return re.match(pattern, email) is not None

# Test the function
email1 = "example@example.com"
email2 = "invalid-email@.com"

print(is_valid_email(email1))  # This will print: True
print(is_valid_email(email2))  # This will print: False

True
False

In [173]:
#### 31. Extract the username from an email address string.

# Original email address
email = "username@example.com"

# Extract the username
username = email.split('@')[0]

print(username)

username

In [174]:
#### 32. Extract the domain name from an email address string.

# Original email address
email = "username@example.com"

# Extract the domain name
domain = email.split('@')[1]

print(domain)

example.com

In [175]:
#### 33. Replace multiple spaces in a string with a single space.

# Original string with multiple spaces
text = "This    is   a  string    with  multiple   spaces."

# Replace multiple spaces with a single space
normalized_text = re.sub(r'\s+', ' ', text).strip()

print(normalized_text)

This is a string with multiple spaces.

In [176]:
#### 34. Check if a string is a valid URL.

# Function to check if a string is a valid URL
def is_valid_url(url):
    # Regular expression pattern for a basic URL validation
    pattern = r'^(https?://)?[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}(\/[a-zA-Z0-9&%_.+-]*)?$'
    return re.match(pattern, url) is not None

# Test cases
url1 = "https://www.example.com"
url2 = "http://example"
url3 = "ftp://example.com"

print(is_valid_url(url1))  # True
print(is_valid_url(url2))  # False
print(is_valid_url(url3))  # False

True
False
False

In [177]:
#### 35. Extract the protocol (http or https) from a URL string.

from urllib.parse import urlparse

# Original URL
url = "https://www.example.com/path/to/resource"

# Parse the URL
parsed_url = urlparse(url)

# Extract the protocol (scheme)
protocol = parsed_url.scheme

print(protocol)

https

In [178]:
#### 36. Find the frequency of each character in a string.

from collections import Counter

# Original string
text = "hello world"

# Count the frequency of each character
frequency = Counter(text)

print(frequency)

Counter({'l': 3, 'o': 2, 'h': 1, 'e': 1, ' ': 1, 'w': 1, 'r': 1, 'd': 1})

In [179]:
#### 37. Remove all punctuation from a string.

import string

# Original string with punctuation
text = "Hello, world! How's everything?"

# Create a translation table that maps punctuation to None
translator = str.maketrans('', '', string.punctuation)

# Remove punctuation using the translation table
cleaned_text = text.translate(translator)

print(cleaned_text)

Hello world Hows everything

In [180]:
#### 38. Check if a string contains only digits.

# Original strings
text1 = "123456"
text2 = "123a45"
text3 = "12 345"

# Check if the strings contain only digits
is_digits1 = text1.isdigit()
is_digits2 = text2.isdigit()
is_digits3 = text3.isdigit()

print(is_digits1)  # True
print(is_digits2)  # False
print(is_digits3)  # False

True
False
False

In [181]:
#### 39. Check if a string contains only alphabets.

# Original strings
text1 = "HelloWorld"
text2 = "Hello World"
text3 = "Hello123"

# Check if the strings contain only alphabets
is_alpha1 = text1.isalpha()
is_alpha2 = text2.isalpha()
is_alpha3 = text3.isalpha()

print(is_alpha1)  # True
print(is_alpha2)  # False
print(is_alpha3)  # False

True
False
False

In [182]:
#### 40. Convert a string to a list of characters.

# Original string
text = "hello"

# Convert the string to a list of characters
char_list = list(text)

print(char_list)

['h', 'e', 'l', 'l', 'o']

In [183]:
#### 41. Check if two strings are anagrams.

def are_anagrams(str1, str2):
    # Remove spaces and convert to lowercase
    str1 = str1.replace(' ', '').lower()
    str2 = str2.replace(' ', '').lower()
    
    # Check if sorted characters of both strings are the same
    return sorted(str1) == sorted(str2)

# Test cases
string1 = "Listen"
string2 = "Silent"
string3 = "Hello"
string4 = "World"

print(are_anagrams(string1, string2))  # True
print(are_anagrams(string3, string4))  # False

True
False

In [184]:
#### 42. Encode a string using a Caesar cipher.

def caesar_cipher(text, shift):
    result = []
    for char in text:
        if char.isalpha():  # Check if the character is a letter
            # Determine the start of the alphabet for upper or lower case letters
            start = ord('A') if char.isupper() else ord('a')
            # Shift the character and ensure it wraps around using modulo
            shifted_char = chr(start + (ord(char) - start + shift) % 26)
            result.append(shifted_char)
        else:
            # Non-alphabetic characters are added unchanged
            result.append(char)
    return ''.join(result)

# Test cases
text = "Hello, World!"
shift = 3

encoded_text = caesar_cipher(text, shift)
print(encoded_text)

Khoor, Zruog!

In [185]:
#### 43. Decode a Caesar cipher encoded string.

def caesar_cipher_decode(encoded_text, shift):
    result = []
    for char in encoded_text:
        if char.isalpha():  # Check if the character is a letter
            # Determine the start of the alphabet for upper or lower case letters
            start = ord('A') if char.isupper() else ord('a')
            # Shift the character back and ensure it wraps around using modulo
            shifted_char = chr(start + (ord(char) - start - shift) % 26)
            result.append(shifted_char)
        else:
            # Non-alphabetic characters are added unchanged
            result.append(char)
    return ''.join(result)

# Test cases
encoded_text = "Khoor, Zruog!"  # Encoded with shift 3
shift = 3

decoded_text = caesar_cipher_decode(encoded_text, shift)
print(decoded_text)

Hello, World!

In [186]:
#### 44. Find the most frequent word in a string.

from collections import Counter

def most_frequent_word(text):
    # Normalize the string: convert to lowercase and remove punctuation
    text = text.lower()
    text = re.sub(r'[^\w\s]', '', text)  # Remove punctuation

    # Split the string into words
    words = text.split()

    # Count the frequency of each word
    word_counts = Counter(words)

    # Find the most common word and its count
    most_common_word, count = word_counts.most_common(1)[0]

    return most_common_word, count

# Test case
text = "Hello world! Hello everyone. Welcome to the world of Python. Python is great."

word, frequency = most_frequent_word(text)
print(f"The most frequent word is '{word}' with a frequency of {frequency}.")

The most frequent word is 'hello' with a frequency of 2.

In [187]:
#### 45. Find all unique words in a string.

def unique_words(text):
    # Normalize the string: convert to lowercase and remove punctuation
    text = text.lower()
    text = re.sub(r'[^\w\s]', '', text)  # Remove punctuation

    # Split the string into words
    words = text.split()

    # Use a set to find unique words
    unique_words_set = set(words)

    return unique_words_set

# Test case
text = "Hello world! Welcome to the world of Python. Python is great, and the world is full of opportunities."

unique_words_set = unique_words(text)
print("Unique words:", unique_words_set)

Unique words: {'is', 'and', 'opportunities', 'python', 'welcome', 'full', 'hello', 'the', 'to', 'world', 'great', 'of'}

In [188]:
#### 46. Count the number of syllables in a string.

def count_syllables(word):
    word = word.lower()  # Convert the word to lowercase
    vowels = "aeiou"  # Define vowels
    syllable_count = 0
    in_vowel_group = False
    
    for char in word:
        if char in vowels:
            if not in_vowel_group:
                syllable_count += 1
                in_vowel_group = True
        else:
            in_vowel_group = False

    return syllable_count

def total_syllables(text):
    words = text.split()  # Split the text into words
    return sum(count_syllables(word) for word in words)

# Test case
text = "Hello world! Welcome to Python."

syllable_count = total_syllables(text)
print(f"Total number of syllables: {syllable_count}")

Total number of syllables: 8

In [189]:
#### 47. Check if a string contains any special characters.

def contains_special_characters(text):
    # Regular expression to find special characters
    pattern = r'[^\w\s]'
    
    # Check if the text contains any special characters
    return bool(re.search(pattern, text))

# Test cases
text1 = "Hello, World!"
text2 = "Hello World"

print(contains_special_characters(text1))  # True
print(contains_special_characters(text2))  # False

True
False

In [190]:
#### 48. Remove the nth word from a string.

def remove_nth_word(text, n):
    # Split the text into words
    words = text.split()
    
    # Check if n is within the range of word indices
    if 0 < n <= len(words):
        # Remove the nth word (index n-1)
        del words[n-1]
    
    # Join the words back into a string
    new_text = ' '.join(words)
    
    return new_text

# Test cases
text = "This is a simple test string."
n = 3

result = remove_nth_word(text, n)
print(result)

This is simple test string.

In [191]:
#### 49. Insert a word at the nth position in a string.

def insert_word_at_position(text, word, n):
    # Split the text into words
    words = text.split()
    
    # Insert the new word at the nth position (index n-1)
    if n >= 0 and n <= len(words):
        words.insert(n, word)
    elif n == len(words) + 1:
        # If n is at the end of the list, append the word
        words.append(word)
    else:
        # If n is out of bounds
        return "Invalid position"
    
    # Join the words back into a string
    new_text = ' '.join(words)
    
    return new_text

# Test cases
text = "This is a simple string."
word_to_insert = "new"
n = 3

result = insert_word_at_position(text, word_to_insert, n)
print(result)

This is a new simple string.

In [192]:
#### 50. Convert a CSV string to a list of lists.

import csv
from io import StringIO

def csv_string_to_list_of_lists(csv_string):
    # Use StringIO to treat the string as a file-like object
    csv_file = StringIO(csv_string)
    
    # Read the CSV data from the file-like object
    reader = csv.reader(csv_file)
    
    # Convert the CSV data to a list of lists
    list_of_lists = list(reader)
    
    return list_of_lists

# Test case
csv_string = "name,age,city\nAlice,30,New York\nBob,25,Los Angeles\nCharlie,35,Chicago"

result = csv_string_to_list_of_lists(csv_string)
print(result)

[['name', 'age', 'city'], ['Alice', '30', 'New York'], ['Bob', '25', 'Los Angeles'], ['Charlie', '35', 'Chicago']]

In [193]:
#### List Based Practice Problem:

#### 1. Create a list with integers from 1 to 10.

# Create a list with integers from 1 to 10
numbers = list(range(1, 11))

print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [194]:
#### 2. Find the length of a list without using the `len()` function.

def find_length_of_list(lst):
    count = 0
    for _ in lst:
        count += 1
    return count

# Test case
my_list = [1, 2, 3, 4, 5]
length = find_length_of_list(my_list)
print(length)

5

In [195]:
#### 3. Append an element to the end of a list.

# Original list
my_list = [1, 2, 3, 4]

# Element to append
element = 5

# Append the element to the end of the list
my_list.append(element)

print(my_list)

[1, 2, 3, 4, 5]

In [196]:
#### 4. Insert an element at a specific index in a list.

# Original list
my_list = [1, 2, 3, 4]

# Element to insert and the index where it should be inserted
element = 10
index = 2

# Insert the element at the specified index
my_list.insert(index, element)

print(my_list)

[1, 2, 10, 3, 4]

In [197]:
#### 5. Remove an element from a list by its value.

# Original list
my_list = [1, 2, 3, 4, 5]

# Value to remove
value = 3

# Remove the value from the list
my_list.remove(value)

print(my_list)

[1, 2, 4, 5]

In [198]:
#### 6. Remove an element from a list by its index.

# Original list
my_list = [1, 2, 3, 4, 5]

# Index of the element to remove
index = 2

# Remove the element at the specified index
del my_list[index]

print(my_list)

[1, 2, 4, 5]

In [199]:
#### 7. Check if an element exists in a list.

# Original list
my_list = [1, 2, 3, 4, 5]

# Element to check
element = 3

# Check if the element exists in the list
exists = element in my_list

print(exists)  # True

True

In [200]:
#### 8. Find the index of the first occurrence of an element in a list.

# Original list
my_list = [10, 20, 30, 40, 50]

# Element to find
element = 30

# Find the index of the first occurrence of the element
index = my_list.index(element)

print(index)

2

In [201]:
#### 9. Count the occurrences of an element in a list.

# Original list
my_list = [1, 2, 3, 4, 2, 2, 5]

# Element to count
element = 2

# Count the occurrences of the element
count = my_list.count(element)

print(count)

3

In [202]:
#### 10. Reverse the order of elements in a list.

# Original list
my_list = [1, 2, 3, 4, 5]

# Reverse the list in place
my_list.reverse()

print(my_list)

[5, 4, 3, 2, 1]

In [203]:
#### 11. Sort a list in ascending order.

# Original list
my_list = [5, 2, 9, 1, 5, 6]

# Sort the list in ascending order
my_list.sort()

print(my_list)  # Output: [1, 2, 5, 5, 6, 9]

[1, 2, 5, 5, 6, 9]

In [204]:
#### 12. Sort a list in descending order.

# Original list
my_list = [5, 2, 9, 1, 5, 6]

# Sort the list in descending order
my_list.sort(reverse=True)

print(my_list)  # Output: [9, 6, 5, 5, 2, 1]

[9, 6, 5, 5, 2, 1]

In [205]:
#### 13. Create a list of even numbers from 1 to 20.

# Create a list of even numbers from 1 to 20
even_numbers = [num for num in range(1, 21) if num % 2 == 0]

print(even_numbers)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [206]:
#### 14. Create a list of odd numbers from 1 to 20.

# Create a list of odd numbers from 1 to 20
odd_numbers = [num for num in range(1, 21) if num % 2 != 0]

print(odd_numbers)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [207]:
#### 15. Find the sum of all elements in a list.

# List of numbers
my_list = [1, 2, 3, 4, 5]

# Calculate the sum of all elements in the list
total_sum = sum(my_list)

print(total_sum)

15

In [208]:
#### 16. Find the maximum value in a list.

# List of numbers
my_list = [1, 3, 7, 2, 5]

# Find the maximum value in the list
max_value = max(my_list)

print(max_value)

7

In [209]:
#### 17. Find the minimum value in a list.

# List of numbers
my_list = [1, 3, 7, 2, 5]

# Find the minimum value in the list
min_value = min(my_list)

print(min_value)

1

In [210]:
#### 18. Create a list of squares of numbers from 1 to 10.

# Create a list of squares of numbers from 1 to 10
squares = [num ** 2 for num in range(1, 11)]

print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [211]:
#### 19. Create a list of random numbers.

import random

# Create a list of 10 random numbers between 1 and 100
random_numbers = [random.randint(1, 100) for _ in range(10)]

print(random_numbers)

[41, 83, 15, 30, 76, 28, 87, 25, 47, 91]

In [212]:
#### 20. Remove duplicates from a list.

# Original list with duplicates
my_list = [1, 2, 3, 2, 4, 5, 1, 6]

# Remove duplicates by converting to a set and then back to a list
unique_list = list(set(my_list))

print(unique_list)

[1, 2, 3, 4, 5, 6]

In [213]:
#### 21. Find the common elements between two lists.

# Two lists
list1 = [1, 2, 3, 4, 5]
list2 = [4, 5, 6, 7, 8]

# Find common elements using set intersection
common_elements = list(set(list1) & set(list2))

print(common_elements)

[4, 5]

In [214]:
#### 22. Find the difference between two lists.

# Two lists
list1 = [1, 2, 3, 4, 5]
list2 = [4, 5, 6, 7, 8]

# Find the difference between list1 and list2
difference = list(set(list1) - set(list2))

print(difference)

[1, 2, 3]

In [215]:
#### 23. Merge two lists.

# Two lists
list1 = [1, 2, 3]
list2 = [4, 5, 6]

# Merge the lists using the + operator
merged_list = list1 + list2

print(merged_list)

[1, 2, 3, 4, 5, 6]

In [216]:
#### 24. Multiply all elements in a list by 2.

# Original list
my_list = [1, 2, 3, 4, 5]

# Multiply all elements by 2 using a list comprehension
multiplied_list = [x * 2 for x in my_list]

print(multiplied_list)

[2, 4, 6, 8, 10]

In [217]:
#### 25. Filter out all even numbers from a list.

# Original list
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Filter out even numbers using a list comprehension
odd_numbers = [x for x in my_list if x % 2 != 0]

print(odd_numbers)

[1, 3, 5, 7, 9]

In [218]:
#### 26. Convert a list of strings to a list of integers.

# List of strings
string_list = ['1', '2', '3', '4', '5']

# Convert list of strings to list of integers using a list comprehension
integer_list = [int(x) for x in string_list]

print(integer_list)

[1, 2, 3, 4, 5]

In [219]:
#### 27. Convert a list of integers to a list of strings.

# List of integers
integer_list = [1, 2, 3, 4, 5]

# Convert list of integers to list of strings using a list comprehension
string_list = [str(x) for x in integer_list]

print(string_list)

['1', '2', '3', '4', '5']

In [220]:
#### 28. Flatten a nested list.

def flatten_list(nested_list):
    flat_list = []
    for item in nested_list:
        if isinstance(item, list):
            flat_list.extend(flatten_list(item))  # Recursively flatten the nested list
        else:
            flat_list.append(item)
    return flat_list

# Example nested list
nested_list = [1, [2, [3, 4], 5], [6, 7], 8]

# Flatten the nested list
flat_list = flatten_list(nested_list)

print(flat_list)

[1, 2, 3, 4, 5, 6, 7, 8]

In [221]:
#### 29. Create a list of the first 10 Fibonacci numbers.

def generate_fibonacci(n):
    fibonacci_list = []
    a, b = 0, 1
    while len(fibonacci_list) < n:
        fibonacci_list.append(a)
        a, b = b, a + b
    return fibonacci_list

# Get the first 10 Fibonacci numbers
fibonacci_list = generate_fibonacci(10)

print(fibonacci_list)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [222]:
#### 30. Check if a list is sorted.

def is_sorted(lst):
    return lst == sorted(lst)

# Example lists
list1 = [1, 2, 3, 4, 5]
list2 = [5, 3, 4, 1, 2]

print(is_sorted(list1))  # Output: True
print(is_sorted(list2))  # Output: False

True
False

In [223]:
#### 31. Rotate a list to the left by `n` positions.

def rotate_left(lst, n):
    # Ensure n is within the range of the list length
    n = n % len(lst)
    return lst[n:] + lst[:n]

# Example list and number of positions
my_list = [1, 2, 3, 4, 5]
n = 2

# Rotate the list to the left by n positions
rotated_list = rotate_left(my_list, n)

print(rotated_list)

[3, 4, 5, 1, 2]

In [224]:
#### 32. Rotate a list to the right by `n` positions.

def rotate_right(lst, n):
    # Ensure n is within the range of the list length
    n = n % len(lst)
    return lst[-n:] + lst[:-n]

# Example list and number of positions
my_list = [1, 2, 3, 4, 5]
n = 2

# Rotate the list to the right by n positions
rotated_list = rotate_right(my_list, n)

print(rotated_list)

[4, 5, 1, 2, 3]

In [225]:
#### 33. Create a list of prime numbers up to 50.

def is_prime(num):
    if num <= 1:
        return False
    for i in range(2, int(num**0.5) + 1):
        if num % i == 0:
            return False
    return True

def primes_up_to(max_num):
    return [num for num in range(2, max_num + 1) if is_prime(num)]

# Generate the list of prime numbers up to 50
prime_list = primes_up_to(50)

print(prime_list)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

In [226]:
#### 34. Split a list into chunks of size `n`.

def split_into_chunks(lst, n):
    return [lst[i:i + n] for i in range(0, len(lst), n)]

# Example list and chunk size
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
chunk_size = 3

# Split the list into chunks
chunked_list = split_into_chunks(my_list, chunk_size)

print(chunked_list)

[[1, 2, 3], [4, 5, 6], [7, 8, 9], [10]]

In [227]:
#### 35. Find the second largest number in a list.

def second_largest(nums):
    if len(nums) < 2:
        raise ValueError("List must contain at least two elements.")
    sorted_nums = sorted(nums, reverse=True)
    return sorted_nums[1]

# Example list
my_list = [4, 1, 7, 3, 9, 5]

# Find the second largest number
second_largest_number = second_largest(my_list)

print(second_largest_number)

7

In [228]:
#### 36. Replace every element in a list with its square.

def square_elements(lst):
    return [x ** 2 for x in lst]

# Example list
my_list = [1, 2, 3, 4, 5]

# Replace every element with its square
squared_list = square_elements(my_list)

print(squared_list)

[1, 4, 9, 16, 25]

In [229]:
#### 37. Convert a list to a dictionary where list elements become keys and their indices become values.

def list_to_dict(lst):
    return {element: index for index, element in enumerate(lst)}

# Example list
my_list = ['a', 'b', 'c', 'd']

# Convert the list to a dictionary
result_dict = list_to_dict(my_list)

print(result_dict)

{'a': 0, 'b': 1, 'c': 2, 'd': 3}

In [230]:
#### 38. Shuffle the elements of a list randomly.

import random

def shuffle_list(lst):
    random.shuffle(lst)
    return lst

# Example list
my_list = [1, 2, 3, 4, 5]

# Shuffle the list
shuffled_list = shuffle_list(my_list)

print(shuffled_list)

[2, 5, 3, 1, 4]

In [231]:
#### 39. Create a list of the first 10 factorial numbers.

import math

def factorial_numbers(count):
    return [math.factorial(i) for i in range(count)]

# Generate the first 10 factorial numbers
factorial_list = factorial_numbers(10)

print(factorial_list)

[1, 1, 2, 6, 24, 120, 720, 5040, 40320, 362880]

In [232]:
#### 40. Check if two lists have at least one element in common.

def have_common_element(list1, list2):
    return bool(set(list1) & set(list2))

# Example lists
list1 = [1, 2, 3, 4, 5]
list2 = [4, 5, 6, 7, 8]

# Check if they have at least one common element
result = have_common_element(list1, list2)

print(result)

True

In [233]:
#### 41. Remove all elements from a list.

# Example list
my_list = [1, 2, 3, 4, 5]

# Remove all elements
my_list.clear()

print(my_list)

[]

In [234]:
#### 42. Replace negative numbers in a list with 0.

def replace_negatives(lst):
    return [0 if x < 0 else x for x in lst]

# Example list
my_list = [1, -2, 3, -4, 5]

# Replace negative numbers with 0
updated_list = replace_negatives(my_list)

print(updated_list)

[1, 0, 3, 0, 5]

In [235]:
#### 43. Convert a string into a list of words.

def string_to_list_of_words(s):
    return s.split()

# Example string
my_string = "Hello world, this is a test."

# Convert the string to a list of words
words_list = string_to_list_of_words(my_string)

print(words_list)

['Hello', 'world,', 'this', 'is', 'a', 'test.']

In [236]:
#### 44. Convert a list of words into a string.

def list_to_string(words_list):
    return ' '.join(words_list)

# Example list of words
words_list = ['Hello', 'world', 'this', 'is', 'a', 'test.']

# Convert the list of words to a string
result_string = list_to_string(words_list)

print(result_string)

Hello world this is a test.

In [237]:
#### 45. Create a list of the first `n` powers of 2.

def powers_of_two(n):
    return [2 ** i for i in range(n)]

# Example: first 5 powers of 2
n = 5
powers_list = powers_of_two(n)

print(powers_list)

[1, 2, 4, 8, 16]

In [238]:
#### 46. Find the longest string in a list of strings.

def find_longest_string(strings_list):
    return max(strings_list, key=len)

# Example list of strings
strings_list = ['apple', 'banana', 'cherry', 'date']

# Find the longest string
longest_string = find_longest_string(strings_list)

print(longest_string)

banana

In [239]:
#### 47. Find the shortest string in a list of strings.

def find_shortest_string(strings_list):
    return min(strings_list, key=len)

# Example list of strings
strings_list = ['apple', 'banana', 'cherry', 'date']

# Find the shortest string
shortest_string = find_shortest_string(strings_list)

print(shortest_string)

date

In [240]:
#### 48. Create a list of the first `n` triangular numbers.

def triangular_numbers(n):
    return [(i * (i + 1)) // 2 for i in range(1, n + 1)]

# Example: first 5 triangular numbers
n = 5
triangular_list = triangular_numbers(n)

print(triangular_list)

[1, 3, 6, 10, 15]

In [241]:
#### 49. Check if a list contains another list as a subsequence.

def is_subsequence(main_list, subsequence):
    it = iter(main_list)
    return all(elem in it for elem in subsequence)

# Example lists
main_list = [1, 2, 3, 4, 5, 6]
subsequence = [2, 4, 6]

# Check if subsequence is a subsequence of main_list
result = is_subsequence(main_list, subsequence)

print(result)

True

In [242]:
#### 50. Swap two elements in a list by their indices.

def swap_elements(lst, index1, index2):
    lst[index1], lst[index2] = lst[index2], lst[index1]

# Example list
my_list = [1, 2, 3, 4, 5]

# Swap elements at indices 1 and 3
swap_elements(my_list, 1, 3)

print(my_list)

[1, 4, 3, 2, 5]

In [243]:
#### Tuple Based Practice Problem:

#### 1. Create a tuple with integers from 1 to 5.

t1 = tuple(range(1, 6))

print(t1)

(1, 2, 3, 4, 5)

In [244]:
#### 2. Access the third element of a tuple.

t2 = (10, 20, 30, 40, 50)

# Access the third element (index 2)
third_element = t2[2]

print(third_element)

30

In [245]:
#### 3. Find the length of a tuple without using the `len()` function.

def tuple_length(t):
    count = 0
    for _ in t:
        count += 1
    return count

t3 = (10, 20, 30, 40, 50)

# Find the length of the tuple
length = tuple_length(t3)

print(length)

5

In [246]:
#### 4. Count the occurrences of an element in a tuple.

def count_occurrences(t, element):
    count = 0
    for item in t:
        if item == element:
            count += 1
    return count

t4 = (1, 2, 3, 2, 4, 2, 5)

# Count the occurrences of the number 2
occurrences = count_occurrences(t4, 2)

print(occurrences)

3

In [247]:
#### 5. Find the index of the first occurrence of an element in a tuple.

def find_first_occurrence(t, element):
    for index in range(len(t)):
        if t[index] == element:
            return index
    return -1  # Return -1 if the element is not found

# Example tuple
t5 = (10, 20, 30, 20, 40, 50)

# Find the first occurrence of the number 20
first_index = find_first_occurrence(t5, 20)

print(first_index)

1

In [248]:
#### 6. Check if an element exists in a tuple.

def element_exists(t, element):
    for item in t:
        if item == element:
            return True
    return False

# Example tuple
t6 = (10, 20, 30, 40, 50)

# Check if the element 30 exists in the tuple
exists = element_exists(t6, 30)

print(exists)

True

In [249]:
#### 7. Convert a tuple to a list.

t7 = (1, 2, 3, 4, 5)

# Convert tuple to list
my_list = list(t7)

print(my_list)

[1, 2, 3, 4, 5]

In [250]:
#### 8. Convert a list to a tuple.

my_list = [1, 2, 3, 4, 5]

# Convert list to tuple
t8 = tuple(my_list)

print(t8)

(1, 2, 3, 4, 5)

In [251]:
#### 9. Unpack the elements of a tuple into variables.

t9 = (1, 2, 3)

# Unpack the tuple into variables
a, b, c = t9

print(a)  # Output: 1
print(b)  # Output: 2
print(c)  # Output: 3

1
2
3

In [252]:
#### 10. Create a tuple of even numbers from 1 to 10.

# Create a tuple of even numbers from 1 to 10
even_numbers_tuple = tuple(range(2, 11, 2))

print(even_numbers_tuple)

(2, 4, 6, 8, 10)

In [253]:
#### 11. Create a tuple of odd numbers from 1 to 10.

# Create a tuple of odd numbers from 1 to 10
odd_numbers_tuple = tuple(range(1, 11, 2))

print(odd_numbers_tuple)

(1, 3, 5, 7, 9)

In [254]:
#### 12. Concatenate two tuples.

# Define two tuples
t10 = (1, 2, 3)
t11 = (4, 5, 6)

# Concatenate the tuples
concatenated_tuple = t10 + t11

print(concatenated_tuple)

(1, 2, 3, 4, 5, 6)

In [255]:
#### 13. Repeat a tuple three times.

# Define a tuple
t12 = (1, 2, 3)

# Repeat the tuple three times
repeated_tuple = t12 * 3

print(repeated_tuple)

(1, 2, 3, 1, 2, 3, 1, 2, 3)

In [256]:
#### 14. Check if a tuple is empty.

# Define a tuple
t13 = ()

# Check if the tuple is empty
if not t13:
    print("The tuple is empty.")
else:
    print("The tuple is not empty.")

The tuple is empty.

In [257]:
#### 15. Create a nested tuple.

# Create a simple tuple
simple_tuple = (1, 2, 3)

# Create a nested tuple
nested_tuple = (simple_tuple, (4, 5), (6, 7, 8))

print("Nested Tuple:", nested_tuple)

Nested Tuple: ((1, 2, 3), (4, 5), (6, 7, 8))

In [258]:
#### 16. Access the first element of a nested tuple.

# Create a simple tuple
simple_tuple = (1, 2, 3)

# Create a nested tuple using simple_tuple
nested_tuple = (simple_tuple, (4, 5), (6, 7, 8))

# Access the first element of the nested tuple
first_element = nested_tuple[0]

print("First element of the nested tuple:", first_element)

First element of the nested tuple: (1, 2, 3)

In [259]:
#### 17. Create a tuple with a single element.

# Create a tuple with a single element
single_element_tuple = (42,)

print(single_element_tuple)

(42,)

In [260]:
#### 18. Compare two tuples.

# Define two tuples
t14 = (1, 2, 3)
t15 = (1, 2, 4)

# Compare the tuples
print("t14 == t15:", t14 == t15)  # Checks if both tuples are equal
print("t14 != t15:", t14 != t15)  # Checks if both tuples are not equal
print("t14 < t15:", t14 < t15)    # Checks if tuple1 is less than tuple2
print("t14 > t15:", t14 > t15)    # Checks if tuple1 is greater than tuple2
print("t14 <= t15:", t14 <= t15)  # Checks if tuple1 is less than or equal to tuple2
print("t14 >= t15:", t14 >= t15)  # Checks if tuple1 is greater than or equal to tuple2

t14 == t15: False
t14 != t15: True
t14 < t15: True
t14 > t15: False
t14 <= t15: True
t14 >= t15: False

In [261]:
#### 19. Delete a tuple.

# Create a tuple
t16 = (1, 2, 3)

print("Before deletion:", t16)

# Delete the tuple
del t16

# Try to access the tuple after deletion (this will raise an error)
try:
    print("After deletion:", t16)
except NameError as e:
    print("Error:", e)

Before deletion: (1, 2, 3)
Error: name 't16' is not defined

In [262]:
#### 20. Slice a tuple.

# Create a tuple
t17 = (10, 20, 30, 40, 50, 60, 70)

# Slice the tuple from index 2 to index 5
sliced_tuple = t17[2:5]

print("Sliced tuple (2:5):", sliced_tuple)

Sliced tuple (2:5): (30, 40, 50)

In [263]:
#### 21. Find the maximum value in a tuple.

# Create a tuple
t18 = (10, 20, 30, 40, 50)

# Find the maximum value in the tuple
max_value = max(t18)

print("Maximum value in the tuple:", max_value)

Maximum value in the tuple: 50

In [264]:
#### 22. Find the minimum value in a tuple.

# Create a tuple
t19 = (10, 20, 30, 40, 50)

# Find the minimum value in the tuple
min_value = min(t19)

print("Minimum value in the tuple:", min_value)

Minimum value in the tuple: 10

In [265]:
#### 23. Convert a string to a tuple of characters.

# Create a string
my_string1 = "hello"

# Convert the string to a tuple of characters
tuple_of_characters = tuple(my_string1)

print("Tuple of characters:", tuple_of_characters)

Tuple of characters: ('h', 'e', 'l', 'l', 'o')

In [266]:
#### 24. Convert a tuple of characters to a string.

# Create a tuple of characters
tuple_of_characters = ('h', 'e', 'l', 'l', 'o')

# Convert the tuple of characters to a string
string_from_tuple = ''.join(tuple_of_characters)

print("String from tuple:", string_from_tuple)

String from tuple: hello

In [267]:
#### 25. Create a tuple from multiple data types.

# Create a tuple with multiple data types
mixed_tuple = (42, "hello", 3.14, True, (1, 2, 3), [4, 5, 6])

print("Tuple with multiple data types:", mixed_tuple)

Tuple with multiple data types: (42, 'hello', 3.14, True, (1, 2, 3), [4, 5, 6])

In [268]:
#### 26. Check if two tuples are identical.

# Define two tuples
tuple1 = (1, 2, 3, "hello")
tuple2 = (1, 2, 3, "hello")
tuple3 = (1, 2, 3, "world")

# Check if the tuples are identical
print("tuple1 == tuple2:", tuple1 == tuple2)  # Should return True
print("tuple1 == tuple3:", tuple1 == tuple3)  # Should return False

tuple1 == tuple2: True
tuple1 == tuple3: False

In [269]:
#### 27. Sort the elements of a tuple.

# Create a tuple
my_tuple2 = (3, 1, 4, 1, 5, 9, 2)

# Sort the elements of the tuple
sorted_tuple = tuple(sorted(my_tuple2))

print("Original tuple:", my_tuple2)
print("Sorted tuple:", sorted_tuple)

Original tuple: (3, 1, 4, 1, 5, 9, 2)
Sorted tuple: (1, 1, 2, 3, 4, 5, 9)

In [270]:
#### 28. Convert a tuple of integers to a tuple of strings.

# Create a tuple of integers
integer_tuple1 = (1, 2, 3, 4, 5)

# Convert the tuple of integers to a tuple of strings
string_tuple1 = tuple(str(x) for x in integer_tuple)

print("Original tuple of integers:", integer_tuple1)
print("Tuple of strings:", string_tuple1)

Original tuple of integers: (1, 2, 3, 4, 5)
Tuple of strings: ('1', '2', '3', '4', '5')

In [271]:
#### 29. Convert a tuple of strings to a tuple of integers.

# Create a tuple of strings
string_tuple2 = ('1', '2', '3', '4', '5')

# Convert the tuple of strings to a tuple of integers
integer_tuple2 = tuple(int(x) for x in string_tuple2)

print("Original tuple of strings:", string_tuple2)
print("Tuple of integers:", integer_tuple2)

Original tuple of strings: ('1', '2', '3', '4', '5')
Tuple of integers: (1, 2, 3, 4, 5)

In [272]:
#### 30. Merge two tuples.

# Define two tuples
tuple4 = (1, 2, 3)
tuple5 = (4, 5, 6)

# Merge the two tuples
merged_tuple = tuple4 + tuple5

print("Merged tuple:", merged_tuple)

Merged tuple: (1, 2, 3, 4, 5, 6)

In [273]:
#### 31. Flatten a nested tuple.

def flatten_tuple1(t):
    flat_list = []
    
    def flatten(item):
        if isinstance(item, tuple):
            for i in item:
                flatten(i)
        else:
            flat_list.append(item)
    
    flatten(t)
    return tuple(flat_list)

# Create a nested tuple
nested_tuple1 = (1, (2, 3), (4, (5, 6)), 7)

# Flatten the nested tuple
flattened_tuple1 = flatten_tuple1(nested_tuple1)

print("Original nested tuple1:", nested_tuple1)
print("Flattened tuple1:", flattened_tuple1)

Original nested tuple1: (1, (2, 3), (4, (5, 6)), 7)
Flattened tuple1: (1, 2, 3, 4, 5, 6, 7)

In [274]:
#### 32. Create a tuple of the first 5 prime numbers.

def is_prime(num):
    """Check if a number is a prime number."""
    if num <= 1:
        return False
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            return False
    return True

def first_n_primes(n):
    """Generate the first n prime numbers."""
    primes = []
    num = 2
    while len(primes) < n:
        if is_prime(num):
            primes.append(num)
        num += 1
    return tuple(primes)

# Create a tuple of the first 5 prime numbers
prime_tuple1 = first_n_primes(5)

print("Tuple of the first 5 prime numbers:", prime_tuple1)

Tuple of the first 5 prime numbers: (2, 3, 5, 7, 11)

In [275]:
#### 33. Check if a tuple is a palindrome.

def is_palindrome(t):
    """Check if a tuple is a palindrome."""
    return t == t[::-1]

# Create some example tuples
tuple6 = (1, 2, 3, 2, 1)
tuple7 = (1, 2, 3, 4, 5)

# Check if the tuples are palindromes
print("Is tuple6 a palindrome?", is_palindrome(tuple6))  # Should be True
print("Is tuple7 a palindrome?", is_palindrome(tuple7))  # Should be False

Is tuple6 a palindrome? True
Is tuple7 a palindrome? False

In [276]:
#### 34. Create a tuple of squares of numbers from 1 to 5.

# Create a tuple of squares of numbers from 1 to 5
squares_tuple1 = tuple(x ** 2 for x in range(1, 6))

print("Tuple of squares of numbers from 1 to 5:", squares_tuple1)

Tuple of squares of numbers from 1 to 5: (1, 4, 9, 16, 25)

In [277]:
#### 35. Filter out all even numbers from a tuple.

# Create a tuple of numbers
numbers_tuple1 = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

# Filter out all even numbers
odd_numbers_tuple1 = tuple(x for x in numbers_tuple1 if x % 2 != 0)

print("Original tuple:", numbers_tuple1)
print("Tuple with even numbers removed:", odd_numbers_tuple1)

Original tuple: (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
Tuple with even numbers removed: (1, 3, 5, 7, 9)

In [278]:
#### 36. Multiply all elements in a tuple by 2.

# Create a tuple of numbers
numbers_tuple2 = (1, 2, 3, 4, 5)

# Multiply all elements by 2
doubled_tuple2 = tuple(x * 2 for x in numbers_tuple2)

print("Original tuple:", numbers_tuple2)
print("Tuple with elements multiplied by 2:", doubled_tuple2)

Original tuple: (1, 2, 3, 4, 5)
Tuple with elements multiplied by 2: (2, 4, 6, 8, 10)

In [279]:
#### 37. Create a tuple of random numbers.

import random

# Specify the number of random numbers and the range
num_random_numbers = 5
min_value = 1
max_value = 100

# Create a tuple of random numbers
random_numbers_tuple = tuple(random.randint(min_value, max_value) for _ in range(num_random_numbers))

print("Tuple of random numbers:", random_numbers_tuple)

Tuple of random numbers: (62, 79, 4, 64, 26)

In [281]:
#### 38. Check if a tuple is sorted.

def is_sorted(t):
    """Check if a tuple is sorted in ascending order."""
    return t == tuple(sorted(t))

# Create some example tuples
tuple8 = (1, 2, 3, 4, 5)
tuple9 = (5, 3, 4, 1, 2)
tuple10 = (1, 2, 2, 3, 4)

# Check if the tuples are sorted
print("Is tuple8 sorted?", is_sorted(tuple8))  # Should be True
print("Is tuple9 sorted?", is_sorted(tuple9))  # Should be False
print("Is tuple10 sorted?", is_sorted(tuple10))  # Should be True

Is tuple8 sorted? True
Is tuple9 sorted? False
Is tuple10 sorted? True

In [282]:
#### 39. Rotate a tuple to the left by `n` positions.

def rotate_left(t, n):
    """Rotate a tuple to the left by n positions."""
    n = n % len(t)  # Handle rotation greater than the length of the tuple
    return t[n:] + t[:n]

# Create a tuple
my_tuple3 = (1, 2, 3, 4, 5)

# Rotate the tuple to the left by 2 positions
rotated_tuple1 = rotate_left(my_tuple, 2)

print("Original tuple:", my_tuple3)
print("Rotated tuple (left by 2 positions):", rotated_tuple1)

Original tuple: (1, 2, 3, 4, 5)
Rotated tuple (left by 2 positions): (3, 4, 5, 1, 2)

In [283]:
#### 40. Rotate a tuple to the right by `n` positions.

def rotate_right(t, n):
    """Rotate a tuple to the right by n positions."""
    n = n % len(t)  # Handle rotation greater than the length of the tuple
    return t[-n:] + t[:-n]

# Create a tuple
my_tuple4 = (1, 2, 3, 4, 5)

# Rotate the tuple to the right by 2 positions
rotated_tuple2 = rotate_right(my_tuple4, 2)

print("Original tuple:", my_tuple4)
print("Rotated tuple (right by 2 positions):", rotated_tuple2)

Original tuple: (1, 2, 3, 4, 5)
Rotated tuple (right by 2 positions): (4, 5, 1, 2, 3)

In [284]:
#### 41. Create a tuple of the first 5 Fibonacci numbers.

def fibonacci(n):
    """Generate the first n Fibonacci numbers."""
    fib_sequence1 = []
    a, b = 0, 1
    while len(fib_sequence1) < n:
        fib_sequence1.append(a)
        a, b = b, a + b
    return tuple(fib_sequence1)

# Create a tuple of the first 5 Fibonacci numbers
fib_tuple1 = fibonacci(5)

print("Tuple of the first 5 Fibonacci numbers:", fib_tuple1)

Tuple of the first 5 Fibonacci numbers: (0, 1, 1, 2, 3)

In [285]:
#### 42. Create a tuple from user input.

# Get user input
user_input1 = input("Enter elements separated by spaces: ")

# Split the input into a list of elements
elements_list1 = user_input1.split()

# Convert the list to a tuple
elements_tuple1 = tuple(elements_list1)

print("Tuple created from user input:", elements_tuple1)

Enter elements separated by spaces:  apple oranges kiwi

Tuple created from user input: ('apple', 'oranges', 'kiwi')

In [286]:
#### 43. Swap two elements in a tuple.

def swap_elements1(t, index1, index2):
    """Swap elements at index1 and index2 in a tuple."""
    # Convert tuple to a list to allow modification
    temp_list1 = list(t)
    
    # Swap elements
    temp_list1[index1], temp_list1[index2] = temp_list1[index2], temp_list1[index1]
    
    # Convert list back to tuple
    return tuple(temp_list1)

# Create a tuple
my_tuple5 = (1, 2, 3, 4, 5)

# Swap elements at index 1 and index 3
swapped_tuple1 = swap_elements1(my_tuple5, 1, 3)

print("Original tuple:", my_tuple5)
print("Tuple after swapping elements at index 1 and 3:", swapped_tuple1)

Original tuple: (1, 2, 3, 4, 5)
Tuple after swapping elements at index 1 and 3: (1, 4, 3, 2, 5)

In [287]:
#### 44. Reverse the elements of a tuple.

def reverse_tuple6(t):
    """Reverse the elements of a tuple."""
    return t[::-1]

# Create a tuple
my_tuple6 = (1, 2, 3, 4, 5)

# Reverse the tuple
reversed_tuple6 = reverse_tuple6(my_tuple6)

print("Original tuple:", my_tuple6)
print("Reversed tuple:", reversed_tuple6)

Original tuple: (1, 2, 3, 4, 5)
Reversed tuple: (5, 4, 3, 2, 1)

In [288]:
#### 45. Create a tuple of the first `n` powers of 2.

def powers_of_2(n1):
    """Create a tuple of the first n powers of 2."""
    return tuple(2 ** i for i in range(n1))

# Specify the number of powers
n1 = 5

# Create the tuple
powers_tuple1 = powers_of_2(n1)

print("Tuple of the first", n1, "powers of 2:", powers_tuple1)

Tuple of the first 5 powers of 2: (1, 2, 4, 8, 16)

In [289]:
#### 46. Find the longest string in a tuple of strings.

def longest_string(t1):
    """Find the longest string in a tuple of strings."""
    return max(t1, key=len)

# Create a tuple of strings
strings_tuple3 = ("apple", "banana", "cherry", "date")

# Find the longest string
longest1 = longest_string(strings_tuple3)

print("Tuple of strings:", strings_tuple3)
print("Longest string:", longest1)

Tuple of strings: ('apple', 'banana', 'cherry', 'date')
Longest string: banana

In [290]:
#### 47. Find the shortest string in a tuple of strings

def shortest_string(t2):
    """Find the shortest string in a tuple of strings."""
    return min(t2, key=len)

# Create a tuple of strings
strings_tuple4 = ("apple", "banana", "cherry", "date")

# Find the shortest string
shortest1 = shortest_string(strings_tuple4)

print("Tuple of strings:", strings_tuple4)
print("Shortest string:", shortest1)

Tuple of strings: ('apple', 'banana', 'cherry', 'date')
Shortest string: date

In [291]:
#### 48. Create a tuple of the first `n` triangular numbers.

def triangular_numbers2(n2):
    """Create a tuple of the first n triangular numbers."""
    return tuple((i * (i + 1)) // 2 for i in range(1, n2 + 1))

# Specify the number of triangular numbers
n2 = 5

# Create the tuple
triangular_tuple2 = triangular_numbers2(n2)

print("Tuple of the first", n2, "triangular numbers:", triangular_tuple2)

Tuple of the first 5 triangular numbers: (1, 3, 6, 10, 15)

In [292]:
#### 49. Check if a tuple contains another tuple as a subsequence.

def is_subtuple(t20, t21):
    """Check if tuple t21 is a subsequence of tuple t20."""
    len_t20, len_t21 = len(t20), len(t21)
    
    # Check all possible starting points in t20
    for i in range(len_t20 - len_t21 + 1):
        # Slice t20 to compare with t21
        if t20[i:i + len_t21] == t21:
            return True
    return False

# Create tuples
tuple11 = (1, 2, 3, 4, 5, 6)
tuple12 = (3, 4, 5)
tuple13 = (4, 6)

# Check if tuple12 and tuple13 are subsequences of tuple11
print("Is tuple12 a subsequence of tuple11?", is_subtuple(tuple11, tuple12))  # Should be True
print("Is tuple13 a subsequence of tuple11?", is_subtuple(tuple11, tuple13))  # Should be False

Is tuple12 a subsequence of tuple11? True
Is tuple13 a subsequence of tuple11? False

In [293]:
#### 50. Create a tuple of alternating 1s and 0s of length `n`.

def alternating_tuple1(n3):
    """Create a tuple of alternating 1s and 0s of length n3."""
    return tuple(i % 2 for i in range(n3))

# Specify the length of the tuple
n3 = 10

# Create the tuple
alt_tuple1 = alternating_tuple1(n3)

print("Tuple of alternating 1s and 0s:", alt_tuple1)

Tuple of alternating 1s and 0s: (0, 1, 0, 1, 0, 1, 0, 1, 0, 1)

In [294]:
#### Set Based Practice Problem:

#### 1. Create a set with integers from 1 to 5.

# Create a set with integers from 1 to 5
my_set = set(range(1, 6))

print("Set with integers from 1 to 5:", my_set)

Set with integers from 1 to 5: {1, 2, 3, 4, 5}

In [295]:
#### 2. Add an element to a set.

# Create a set with integers from 1 to 5
my_set2 = {1, 2, 3, 4, 5}

# Add an element to the set
my_set2.add(6)

print("Set after adding an element:", my_set2)

Set after adding an element: {1, 2, 3, 4, 5, 6}

In [296]:
#### 3. Remove an element from a set.

# Create a set with integers from 1 to 5
my_set3 = {1, 2, 3, 4, 5}

# Remove an element using remove() method
my_set3.remove(3)

# Remove an element using discard() method
my_set3.discard(4)

print("Set after removing elements:", my_set3)

Set after removing elements: {1, 2, 5}

In [297]:
#### 4. Check if an element exists in a set.

# Create a set with integers from 1 to 5
my_set4 = {1, 2, 3, 4, 5}

# Check if an element exists in the set
element_to_check = 3

if element_to_check in my_set4:
    print(f"{element_to_check} exists in the set.")
else:
    print(f"{element_to_check} does not exist in the set.")

3 exists in the set.

In [298]:
#### 5. Find the length of a set without using the `len()` function.

def count_elements(my_set5):
    """Count the number of elements in a set without using len()."""
    count = 0
    for _ in my_set5:
        count += 1
    return count

# Create a set with integers from 1 to 5
my_set5 = {1, 2, 3, 4, 5}

# Find the length of the set
set_length1 = count_elements(my_set5)

print("The length of the set is:", set_length1)

The length of the set is: 5

In [299]:
#### 6. Clear all elements from a set.

# Create a set with integers from 1 to 5
my_set6 = {1, 2, 3, 4, 5}

# Clear all elements from the set
my_set6.clear()

print("Set after clearing all elements:", my_set6)

Set after clearing all elements: set()

In [300]:
#### 7. Create a set of even numbers from 1 to 10.

# Create a set of even numbers from 1 to 10
even_numbers3 = {num for num in range(1, 11) if num % 2 == 0}

print("Set of even numbers from 1 to 10:", even_numbers3)

Set of even numbers from 1 to 10: {2, 4, 6, 8, 10}

In [301]:
#### 8. Create a set of odd numbers from 1 to 10.

# Create a set of odd numbers from 1 to 10
odd_numbers3 = {num for num in range(1, 11) if num % 2 != 0}

print("Set of odd numbers from 1 to 10:", odd_numbers3)

Set of odd numbers from 1 to 10: {1, 3, 5, 7, 9}

In [302]:
#### 9. Find the union of two sets.

# Define two sets
set7 = {1, 2, 3, 4}
set8 = {3, 4, 5, 6}

# Find the union of set7 and set8 using the union() method
union_set1 = set7.union(set8)

# Alternatively, use the | operator
union_set_alternative1 = set7 | set8

print("Union of set1 and set2 using union():", union_set1)
print("Union of set1 and set2 using | operator:", union_set_alternative1)

Union of set1 and set2 using union(): {1, 2, 3, 4, 5, 6}
Union of set1 and set2 using | operator: {1, 2, 3, 4, 5, 6}

In [303]:
#### 10. Find the intersection of two sets.

# Define two sets
set9 = {1, 2, 3, 4}
set10 = {3, 4, 5, 6}

# Find the intersection of set9 and set10 using the intersection() method
intersection_set1 = set9.intersection(set10)

# Alternatively, use the & operator
intersection_set_alternative1 = set9 & set10

print("Intersection of set9 and set10 using intersection():", intersection_set1)
print("Intersection of set9 and set10 using & operator:", intersection_set_alternative1)

Intersection of set9 and set10 using intersection(): {3, 4}
Intersection of set9 and set10 using & operator: {3, 4}

In [304]:
#### 11. Find the difference between two sets.

# Define two sets
set11 = {1, 2, 3, 4}
set12 = {3, 4, 5, 6}

# Find the difference between set11 and set12 using the difference() method
difference_set1 = set11.difference(set12)

# Alternatively, use the - operator
difference_set_alternative1 = set11 - set12

print("Difference between set11 and set12 using difference():", difference_set1)
print("Difference between set11 and set12 using - operator:", difference_set_alternative1)

Difference between set11 and set12 using difference(): {1, 2}
Difference between set11 and set12 using - operator: {1, 2}

In [305]:
#### 12. Check if a set is a subset of another set.

# Define two sets
set13 = {1, 2, 3}
set14 = {1, 2, 3, 4, 5}

# Check if set13 is a subset of set14 using the issubset() method
is_subset1 = set13.issubset(set14)

# Alternatively, use the <= operator
is_subset_alternative1 = set13 <= set14

print("set13 is a subset of set14 using issubset():", is_subset1)
print("set13 is a subset of set14 using <= operator:", is_subset_alternative1)

set13 is a subset of set14 using issubset(): True
set13 is a subset of set14 using <= operator: True

In [306]:
#### 13. Check if a set is a superset of another set.

# Define two sets
set15 = {1, 2, 3, 4, 5}
set16 = {2, 3}

# Check if set15 is a superset of set16 using the issuperset() method
is_superset1 = set15.issuperset(set16)

# Alternatively, use the >= operator
is_superset_alternative1 = set15 >= set16

print("set15 is a superset of set16 using issuperset():", is_superset1)
print("set15 is a superset of set16 using >= operator:", is_superset_alternative1)

set15 is a superset of set16 using issuperset(): True
set15 is a superset of set16 using >= operator: True

In [307]:
#### 14. Create a set from a list.

# Create a list with some duplicate elements
my_list7 = [1, 2, 2, 3, 4, 4, 5]

# Convert the list to a set
my_set7 = set(my_list7)

print("Set created from list:", my_set7)

Set created from list: {1, 2, 3, 4, 5}

In [308]:
#### 15. Convert a set to a list.

# Create a set with some elements
my_set8 = {1, 2, 3, 4, 5}

# Convert the set to a list
my_list8 = list(my_set8)

print("List created from set:", my_list8)

List created from set: [1, 2, 3, 4, 5]

In [309]:
#### 16. Remove a random element from a set.

# Create a set with some elements
my_set9 = {1, 2, 3, 4, 5}

# Remove and get a random element from the set
random_element2 = my_set9.pop()

print("Removed element:", random_element2)
print("Set after removing the element:", my_set9)

Removed element: 1
Set after removing the element: {2, 3, 4, 5}

In [310]:
#### 17. Pop an element from a set.

# Create a set with some elements
my_set10 = {1, 2, 3, 4, 5}

# Remove and get a random element from the set
random_element3 = my_set10.pop()

print("Removed element:", random_element3)
print("Set after removing the element:", my_set10)

Removed element: 1
Set after removing the element: {2, 3, 4, 5}

In [311]:
#### 18. Check if two sets have no elements in common.

# Define two sets
set11 = {1, 2, 3}
set12 = {4, 5, 6}

# Check if set11 and set12 have no elements in common
no_common_elements = set11.isdisjoint(set12)

print("Do set11 and set12 have no elements in common?", no_common_elements)

Do set11 and set12 have no elements in common? True

In [312]:
#### 19. Find the symmetric difference between two sets.

# Define two sets
set13 = {1, 2, 3, 4}
set14 = {3, 4, 5, 6}

# Find the symmetric difference between set13 and set14 using the symmetric_difference() method
symmetric_diff1 = set13.symmetric_difference(set14)

# Alternatively, use the ^ operator
symmetric_diff_alternative1 = set13 ^ set14

print("Symmetric difference using symmetric_difference():", symmetric_diff1)
print("Symmetric difference using ^ operator:", symmetric_diff_alternative1)

Symmetric difference using symmetric_difference(): {1, 2, 5, 6}
Symmetric difference using ^ operator: {1, 2, 5, 6}

In [313]:
#### 20. Update a set with elements from another set.

# Define two sets
set15 = {1, 2, 3}
set16 = {3, 4, 5}

# Update set15 with elements from set16
set15.update(set16)

print("Updated set1:", set15)

Updated set1: {1, 2, 3, 4, 5}

In [314]:
#### 21. Create a set of the first 5 prime numbers.

def is_prime(n4):
    """Check if a number is prime."""
    if n4 <= 1:
        return False
    for i in range(2, int(n4**0.5) + 1):
        if n4 % i == 0:
            return False
    return True

# Generate the first 5 prime numbers
prime_set1 = set()
num = 2
while len(prime_set1) < 5:
    if is_prime(num):
        prime_set1.add(num)
    num += 1

print("Set of the first 5 prime numbers:", prime_set1)

Set of the first 5 prime numbers: {2, 3, 5, 7, 11}

In [315]:
#### 22. Check if two sets are identical.

# Define two sets
set17 = {1, 2, 3, 4}
set18 = {4, 3, 2, 1}

# Check if the two sets are identical
are_identical1 = set17 == set18

print("Are set17 and set18 identical?", are_identical1)

Are set17 and set18 identical? True

In [316]:
#### 23. Create a frozen set.

# Create a frozenset
my_frozenset1 = frozenset([1, 2, 3, 4, 5])

print("Frozenset:", my_frozenset1)

Frozenset: frozenset({1, 2, 3, 4, 5})

In [317]:
#### 24. Check if a set is disjoint with another set.

# Define two sets
set19 = {1, 2, 3}
set20 = {4, 5, 6}

# Check if set19 and set20 are disjoint
are_disjoint1 = set19.isdisjoint(set20)

print("Are set19 and set20 disjoint?", are_disjoint1)

Are set19 and set20 disjoint? True

In [318]:
#### 25. Create a set of squares of numbers from 1 to 5.

# Create a set of squares of numbers from 1 to 5
squares_set2 = {x**2 for x in range(1, 6)}

print("Set of squares of numbers from 1 to 5:", squares_set2)

Set of squares of numbers from 1 to 5: {1, 4, 9, 16, 25}

In [319]:
#### 26. Filter out all even numbers from a set.

# Define a set with some numbers
my_set11 = {1, 2, 3, 4, 5, 6, 7, 8, 9}

# Filter out all even numbers
filtered_set1 = {x for x in my_set if x % 2 != 0}

print("Set after filtering out even numbers:", filtered_set1)

Set after filtering out even numbers: {1, 3, 5}

In [320]:
#### 27. Multiply all elements in a set by 2.

# Define a set with some numbers
my_set12 = {1, 2, 3, 4, 5}

# Multiply all elements by 2
doubled_set1 = {x * 2 for x in my_set12}

print("Set with elements multiplied by 2:", doubled_set1)

Set with elements multiplied by 2: {2, 4, 6, 8, 10}

In [321]:
#### 28. Create a set of random numbers.

# Define parameters
num_elements1 = 5  # Number of random elements
min_value1 = 1     # Minimum value for the random numbers
max_value1 = 10    # Maximum value for the random numbers

# Create a set of random numbers
random_set4 = {random.randint(min_value1, max_value1) for _ in range(num_elements1)}

print("Set of random numbers:", random_set4)

Set of random numbers: {2, 4, 5}

In [322]:
#### 29. Check if a set is empty.

# Define two sets
empty_set1 = set()
non_empty_set1 = {1, 2, 3}

# Check if a set is empty
is_empty_empty_set1 = not empty_set1
is_empty_non_empty_set1 = not non_empty_set1

print("Is empty_set1 empty?", is_empty_empty_set1)
print("Is non_empty_set1 empty?", is_empty_non_empty_set1)

Is empty_set1 empty? True
Is non_empty_set1 empty? False

In [323]:
#### 30. Create a nested set (hint: use frozenset).

# Create frozensets to use as nested sets
inner_set1 = frozenset([1, 2])
inner_set2 = frozenset([3, 4])

# Create a nested set using frozensets
nested_set2 = frozenset([inner_set1, inner_set2])

print("Nested set:", nested_set2)

Nested set: frozenset({frozenset({3, 4}), frozenset({1, 2})})

In [324]:
#### 31. Remove an element from a set using the discard method.

# Define a set with some elements
my_set13 = {1, 2, 3, 4, 5}

# Remove an element using discard
my_set13.discard(3)  # Removes the element 3 from the set

print("Set after discarding 3:", my_set13)

# Try removing an element that doesn't exist
my_set13.discard(10)  # Does nothing since 10 is not in the set

print("Set after attempting to discard 10:", my_set13)

Set after discarding 3: {1, 2, 4, 5}
Set after attempting to discard 10: {1, 2, 4, 5}

In [325]:
#### 32. Compare two sets.

# Define two sets
set21 = {1, 2, 3, 4}
set22 = {3, 4, 5, 6}
set23 = {1, 2, 3, 4}

# Check if set21 and set22 are equal
are_equal2 = set21 == set22
print("Are set21 and set22 equal?", are_equal2)

# Check if set21 is a subset of set22
is_subset2 = set21 <= set22
print("Is set21 a subset of set22?", is_subset2)

# Check if set22 is a superset of set21
is_superset2 = set22 >= set21
print("Is set22 a superset of set21?", is_superset2)

# Check if set21 and set22 are disjoint
are_disjoint2 = set21.isdisjoint(set22)
print("Are set21 and set22 disjoint?", are_disjoint2)

# Check if set21 and set22 are equal
are_equal_again2 = set21 == set23
print("Are set21 and set23 equal?", are_equal_again2)

Are set21 and set22 equal? False
Is set21 a subset of set22? False
Is set22 a superset of set21? False
Are set21 and set22 disjoint? False
Are set21 and set23 equal? True

In [326]:
#### 33. Create a set from a string.

# Define a string
my_string2 = "hello world"

# Create a set from the string
my_set14 = set(my_string2)

print("Set created from the string:", my_set14)

Set created from the string: {'d', 'w', 'r', 'o', 'l', 'e', ' ', 'h'}

In [327]:
#### 34. Convert a set of strings to a set of integers.

# Define a set of strings representing numbers
string_set3 = {"1", "2", "3", "4", "5"}

# Convert the set of strings to a set of integers
int_set3 = {int(s) for s in string_set3}

print("Set of integers:", int_set3)

Set of integers: {1, 2, 3, 4, 5}

In [328]:
#### 35. Convert a set of integers to a set of strings.

# Define a set of integers
int_set4 = {1, 2, 3, 4, 5}

# Convert the set of integers to a set of strings
string_set4 = {str(i) for i in int_set4}

print("Set of strings:", string_set4)

Set of strings: {'1', '4', '2', '5', '3'}

In [329]:
#### 36. Create a set from a tuple.

# Define a tuple with some elements
my_tuple4 = (1, 2, 3, 4, 5, 3, 4)

# Create a set from the tuple
my_set14 = set(my_tuple4)

print("Set created from the tuple:", my_set14)

Set created from the tuple: {1, 2, 3, 4, 5}

In [330]:
#### 37. Convert a set to a tuple.

# Define a set with some elements
my_set15 = {1, 2, 3, 4, 5}

# Convert the set to a tuple
my_tuple5 = tuple(my_set15)

print("Tuple created from the set:", my_tuple5)

Tuple created from the set: (1, 2, 3, 4, 5)

In [331]:
#### 38. Find the maximum value in a set.

# Define a set with some elements
my_set16 = {10, 20, 30, 40, 50}

# Find the maximum value in the set
max_value3 = max(my_set16)

print("The maximum value in the set is:", max_value3)

The maximum value in the set is: 50

In [332]:
#### 39. Find the minimum value in a set.

# Define a set with some elements
my_set17 = {10, 20, 30, 40, 50}

# Find the minimum value in the set
min_value4 = min(my_set17)

print("The minimum value in the set is:", min_value4)

The minimum value in the set is: 10

In [333]:
#### 40. Create a set from user input.

# Prompt the user for input
user_input3 = input("Enter values separated by spaces: ")

# Split the input string into a list of strings
input_list3 = user_input3.split()

# Convert the list to a set
input_set3 = set(input_list3)

print("Set created from user input:", input_set3)

Enter values separated by spaces:  pomegranate avocado grapes

Set created from user input: {'pomegranate', 'grapes', 'avocado'}

In [334]:
#### 41. Check if the intersection of two sets is empty.

# Define two sets
set24 = {1, 2, 3, 4}
set25 = {5, 6, 7, 8}

# Find the intersection of the two sets
intersection1 = set24 & set25

# Check if the intersection is empty
is_empty2 = len(intersection1) == 0

print("Is the intersection of set1 and set2 empty?", is_empty2)

Is the intersection of set1 and set2 empty? True

In [335]:
#### 42. Create a set of the first 5 Fibonacci numbers.

# Function to generate Fibonacci numbers
def fibonacci(n5):
    fib_sequence3 = [0, 1]  # Starting values for Fibonacci sequence
    while len(fib_sequence3) < n5:
        fib_sequence3.append(fib_sequence3[-1] + fib_sequence3[-2])
    return fib_sequence3

# Generate the first 5 Fibonacci numbers
fib_numbers3 = fibonacci(5)

# Convert the list of Fibonacci numbers to a set
fib_set3 = set(fib_numbers3)

print("Set of the first 5 Fibonacci numbers:", fib_set3)

Set of the first 5 Fibonacci numbers: {0, 1, 2, 3}

In [336]:
#### 43. Remove duplicates from a list using sets.

# Define a list with duplicate elements
my_list9 = [1, 2, 3, 4, 4, 5, 2, 6, 7, 1]

# Convert the list to a set to remove duplicates
my_set18 = set(my_list9)

# Convert the set back to a list
unique_list2 = list(my_set18)

print("List after removing duplicates:", unique_list2)

List after removing duplicates: [1, 2, 3, 4, 5, 6, 7]

In [337]:
#### 44. Check if two sets have the same elements, regardless of their count.

# Define two sets
set26 = {1, 2, 3, 4}
set27 = {4, 3, 2, 1}

# Check if the two sets have the same elements
are_equal3 = set26 == set27

print("Do set26 and set27 have the same elements?", are_equal3)

Do set26 and set27 have the same elements? True

In [338]:
#### 45. Create a set of the first `n` powers of 2.

# Define the number of powers
n6 = 5

# Create a set of the first n6 powers of 2
powers_of_2 = {2**i for i in range(n6)}

print("Set of the first", n6, "powers of 2:", powers_of_2)

Set of the first 5 powers of 2: {1, 2, 4, 8, 16}

In [339]:
#### 46. Find the common elements between a set and a list.

# Define a set and a list
my_set19 = {1, 2, 3, 4, 5}
my_list10 = [3, 4, 5, 6, 7]

# Convert the list to a set
list_as_set2 = set(my_list10)

# Find the common elements using intersection
common_elements2 = my_set19 & list_as_set2

print("Common elements between the set and the list:", common_elements2)

Common elements between the set and the list: {3, 4, 5}

In [340]:
#### 47. Create a set of the first `n` triangular numbers.

# Function to generate the first n triangular numbers
def triangular_numbers2(n7):
    return {i * (i + 1) // 2 for i in range(1, n7 + 1)}

# Define the number of triangular numbers to generate
n7 = 5

# Create a set of the first n triangular numbers
triangular_set2 = triangular_numbers2(n7)

print("Set of the first", n7, "triangular numbers:", triangular_set2)

Set of the first 5 triangular numbers: {1, 3, 6, 10, 15}

In [341]:
#### 48. Check if a set contains another set as a subset.

# Define two sets
set28 = {1, 2, 3, 4, 5}
set29 = {2, 3}

# Check if set29 is a subset of set28
is_subset4 = set29 <= set28

print("Is set29 a subset of set28?", is_subset4)

Is set29 a subset of set28? True

In [342]:
#### 49. Create a set of alternating 1s and 0s of length `n`.

# Define the length of the sequence
n8 = 10

# Create a set of alternating 1s and 0s
alternating_set4 = {i % 2 for i in range(n8)}

print("Set of alternating 1s and 0s:", alternating_set4)

Set of alternating 1s and 0s: {0, 1}

In [343]:
#### 50. Merge multiple sets into one.

# Define multiple sets
set30 = {1, 2, 3}
set31 = {3, 4, 5}
set32 = {5, 6, 7}

# Merge multiple sets using union() method
merged_set3 = set30.union(set31, set32)

print("Merged set using union():", merged_set3)

# Alternatively, merge multiple sets using | operator
merged_set_alt3 = set30 | set31 | set32

print("Merged set using | operator:", merged_set_alt3)

Merged set using union(): {1, 2, 3, 4, 5, 6, 7}
Merged set using | operator: {1, 2, 3, 4, 5, 6, 7}